<div class="row">
    <div [ngClass]="isSidePanelVisible ? 'col-8' : 'col-12'">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                        Liste de produit
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success" (click)="openSidePanel()">Nouveau</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                                <div class="card-body">
                                  <h4 class="card-title">John Doe</h4>
                                  <p class="card-text">Some example text.</p>
                                  <a href="#" class="btn btn-primary">See Profile</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                                <div class="card-body">
                                  <h4 class="card-title">John Doe</h4>
                                  <p class="card-text">Some example text.</p>
                                  <a href="#" class="btn btn-primary">See Profile</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                                <div class="card-body">
                                  <h4 class="card-title">John Doe</h4>
                                  <p class="card-text">Some example text.</p>
                                  <a href="#" class="btn btn-primary">See Profile</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                                <div class="card-body">
                                  <h4 class="card-title">John Doe</h4>
                                  <p class="card-text">Some example text.</p>
                                  <a href="#" class="btn btn-primary">See Profile</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                                <div class="card-body">
                                  <h4 class="card-title">John Doe</h4>
                                  <p class="card-text">Some example text.</p>
                                  <a href="#" class="btn btn-primary">See Profile</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                                <div class="card-body">
                                  <h4 class="card-title">John Doe</h4>
                                  <p class="card-text">Some example text.</p>
                                  <a href="#" class="btn btn-primary">See Profile</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                                <div class="card-body">
                                  <h4 class="card-title">John Doe</h4>
                                  <p class="card-text">Some example text.</p>
                                  <a href="#" class="btn btn-primary">See Profile</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card">
                                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
                                <div class="card-body">
                                  <h4 class="card-title">John Doe</h4>
                                  <p class="card-text">Some example text.</p>
                                  <a href="#" class="btn btn-primary">See Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4" *ngIf="isSidePanelVisible">
            <div class="card">
                <div class="card-header bg-primary">
                    <div class="row">
                        <div class="col-6">
                            Nouveaux produits
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-sm btn-success" (click)="closeSidePanel()">Fermer</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <label for="">SKU</label>
                            <input type="text" class="form-control" [(ngModel)]="productObj.productSku">
                        </div>
                        <div class="col-6">
                            <label for="">Name</label>
                            <input type="text" class="form-control" [(ngModel)]="productObj.productName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="">Short Name</label>
                            <input type="text" class="form-control" [(ngModel)]="productObj.productShortName">
                        </div>
                        <div class="col-6">
                            <label for="">Price</label>
                            <input type="text" class="form-control" [(ngModel)]="productObj.productPrice">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="">Category</label>
                            <input type="text" class="form-control" [(ngModel)]="productObj.categoryId">
                        </div>
                        <div class="col-6">
                            <label for="">Delivery Time Span</label>
                            <input type="text" class="form-control" [(ngModel)]="productObj.deliveryTimeSpan">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="">Image Url</label>
                            <input type="text" class="form-control" [(ngModel)]="productObj.productImageUrl">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="">Product Description</label>
                            <textarea rows="4" class="form-control" [(ngModel)]="productObj.productDescription"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>